body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#mobile {
  visibility: hidden;
}
header {
  display: flex;
  width: 95%;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
ul > li {
  list-style: none;
  margin: 20px;
  color: #a6a6a6;
}
header > div {
  display: flex;
  align-items: center;
}
#area-buttom {
  margin-right: 30px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: white;
  width: 100px;
  color: #a6a6a6;
  border: #a6a6a6 solid 2px;
}
#login {
  border: none;
}
#menu-mobile {
  visibility: hidden;
}
#container {
  width: 80%;
  height: 800px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
#login:hover {
  border: black;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  border: black solid 2px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
#learn:hover {
  border: black solid 1px;
  background-color: white;
  color: black;
}
strong:hover {
  color: black;
}

strong {
  color: #a6a6a6;
}
h1 {
  font-size: 5em;
  margin-top: 60px;
}
p {
  font-size: 1.2em;
  color: #a6a6a6;
}
#learn {
  background-color: black;
  color: aliceblue;
  height: 60px;
  width: 180px;
  margin-top: 80px;
  border: none;
}
main > div > img {
  width: 100%;
}
#sub-content-main {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
#desktop {
  width: 100%;
  height: 100%;
}
main {
  width: 45%;
}
.sub-conteduos {
  width: 100px;
  margin-top: 150px;
  height: 25px;
}
aside {
  width: 45%;
}
@media (max-width: 800px) {
  #menu-mobile {
    visibility: visible;
  }
  #container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "aside"
      "main";
  }
  aside {
    grid-area: aside;
    width: 100%;
    height: 300px;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    margin: auto;
    text-align: center;
  }
  #area-buttom {
    display: none;
  }
  #sub-content-main {
    margin: 60px;
    width: 100%;
  }
  .sub-conteduos {
    margin-top: 0px;
  }
  #desktop {
    display: none;
  }
  #mobile {
    visibility: inherit;
    width: 100%;
    height: 100%;
  }

  header > div > nav {
    display: none;
  }
  br {
    display: none;
  }
  h1,
  p {
    width: 95%;
    margin: 10px auto;
    font-size: 1em;
  }
  .sub-conteduos {
    width: 20%;
  }
}
