body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav a {
  text-decoration: none;
  color: rgb(112, 112, 112);
}
nav a:hover {
  color: black;
}
header {
  display: flex;
  width: 95%;
  margin: 0px auto;
  height: 150px;
  border: red solid 1px;
  justify-content: space-between;
}
#contentLeft {
  display: flex;
  width: 40%;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
#contentRigth {
  width: 20%;
  display: flex;
  justify-content: space-between;
  border: red solid 1px;
  align-items: center;
}

.dropDowMenu ul {
  list-style: none;
  padding: 0px;
}
.dropDowMenu ul li {
  display: inline;
  position: relative;
}
.dropDowMenu ul li a {
  text-decoration: none;
  padding: 10px;
  min-width: 80px;

  display: inline-block;
}
.dropDowMenu ul li a:hover {
  left: 0;
}
.dropDowMenu ul ul {
  display: none;
  position: absolute;

  left: 0;
}
.dropDowMenu ul li:hover ul {
  display: block;
  background-color: wheat;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s;
}
.dropDowMenu ul ul li a {
  display: flex;
  gap: 10px;
}
nav > ul > li > ul > li > a {
  display: flex;
}
.dropDowMenu ul li:hover a .down {
  transform: rotate(180deg);
  transition: all 0.5s;
}
.dropDowMenu ul li .down {
  transition: all 0.5s;
}
button {
  cursor: pointer;
  border-radius: 15px;
  width: 45%;
  height: 50px;
  color: rgb(112, 112, 112);
  border: solid 2px rgb(112, 112, 112);
  background-color: white;
  font-weight: 700;
}
#login {
  border: none;
}
button:hover {
  color: black;
  border: black solid 2px;
}
#container {
  display: flex;
  width: 80%;
  border: red solid 1px;
  margin:10px auto;
}
main{
  border: blue solid 1px;
  width: 40%;
}
.patrocionio{
  width: 100%;
}
#subConteudo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}